.sheng {
    position: absolute;
    top: 25%;
    left: 50px;
}

.jiang {
    position: absolute;
    bottom: 25%;
    left: 50px;
    transform: rotate(180deg)
}

._r {
    left: 80px;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0)
}

#bit {
    height: 30px;
    margin-left: 8px;
}

.toPage {
    display: inline-block;
    width: 100px;
    input {
        width: 30px;
        height: 28px;
        text-align: center;
    }
}

.top {
    padding: 10px 10px 0 10px;
}

.layui-table {
    margin: 10px;
    width: 98%;
}

#fenlei {
    margin-left: 20px;
    height: 38px;
    width: 100px;
}

.search {
    margin-left: 20px;
}